안녕하세요. 수강생 여러분~! Chapter09 ~ 13 수업은 잘 들으셨나요?

Chapter09 ~ 13의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

__[문제0]__


오즈 코딩 스쿨 백엔드 8기 과정에 참여한 수강생 중 3명의 수강생이 자율적으로 스터디 그룹을 결성했습니다.

스터디 그룹 내에는 한 주간 배운 내용으로 매주 쪽지 시험을 보는 룰이 있습니다. 점수는 채점자 마음입니다.

쪽지 시험의 점수를 직접 입력받고, 점수의 합을 출력해주세요!


<br>

In [3]:
num1, num2, num3 = input('세 학생의 점수를 입력하세요: ').split()
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)
print (num1 + num2 + num3)

세 학생의 점수를 입력하세요: 100 100 100
300

__[문제1]<br>__

movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다.

"비밀"을 "나폴레옹"과 "괴물" 사이에 추가해주세요

<br>

```
movie = ['서울의 봄', '나폴레옹', '괴물', '베트맨']
```

In [5]:
movie_rank = ['서울의 봄', '나폴레옹', '괴물', '베트맨']
movie_rank.insert(1, '비밀')
movie_rank

['서울의 봄', '비밀', '나폴레옹', '괴물', '베트맨']

---

__[문제1-2]<br>__

movie_rank 리스트에서 '베트맨'를 삭제해주세요

<br>

```
movie = ['서울의 봄', '나폴레옹', '비밀', '괴물', '베트맨']
```

In [6]:
movie_rank.remove('베트맨')
movie_rank

['서울의 봄', '비밀', '나폴레옹', '괴물']

__[문제2]<br>__

[언어1]과 [언어2] 리스트가 있을 때 언어1과 언어2의 원소를 모두 갖고 있는 [언어모음]이라는 list를 만들어주세요

```lang1 = ["C", "C++", "JAVA"]```<br>
```lang2 = ["Python", "Go", "C#"]```  

<br>
실행 예)
언어들
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [15]:
언어1 = ["C", "C++", "JAVA"]
언어2 = ["Python", "Go", "C#"]

언어모음 = 언어1 + 언어2
print('언어들:',list(언어모음))

언어들: ['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

---

__[문제3]<br>__

다음 리스트에서 최댓값과 최솟값, 그리고 평균을 출력해주세요.
<br>

```
nums = [1, 2, 3, 4, 5, 6, 7, 9, 10]
```

In [18]:
nums = [1, 2, 3, 4, 5, 6, 7, 9, 10]
max(nums) , min(nums) , sum(nums) / len(nums)

(10, 1, 5.222222222222222)

---

__[문제4]__

다음 리스트에 저장된 데이터의 개수를 화면에 구해주세요

```cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]```

In [20]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면"]
len(cook)

8

---

---

__[문제5]__

price 변수에는 날짜와 종가 정보가 저장돼 있습니다.
날짜 정보를 제외하고 가격 정보만을 출력해주세요

```price = ['20180728', 100, 130, 140, 150, 160, 170]```

<br>
출력 예) [100, 130, 140, 150, 160, 170]

In [22]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

print(price[1:])

[100, 130, 140, 150, 160, 170]

---

__[문제6]__

<br>
다음 딕셔너리를 사용하여 메로나 가격을 출력해주세요

```ice = {'메로나': 1000,```<br>
&emsp;&emsp;&emsp;&emsp;```'폴로포': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'빵빠레': 1800,```<br>
&emsp;&emsp;&emsp;&emsp;```'죠스바': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'월드콘': 1500}```<br>

<br>
출력 예) 메로나 가격: 1000

In [35]:
ice = {'메로나': 1000,
       '폴로포': 1200,
        '빵빠레': 1800,
        '죠스바': 1200,
        '월드콘': 1500}
ice['메로나']

1000

---

__[문제6-1]__

다음 딕셔너리에서 메로나의 가격을 1300으로 수정해주세요

```ice = {'메로나': 1000,```<br>
&emsp;&emsp;&emsp;&emsp;```'폴로포': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'빵빠레': 1800,```<br>
&emsp;&emsp;&emsp;&emsp;```'죠스바': 1200,```<br>
&emsp;&emsp;&emsp;&emsp;```'월드콘': 1500}```<br>

In [36]:
ice['메로나']=1300
ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

---

__[문제7]__

아래 순서대로 주어진 수강생 이름과 등급을 하나의 딕셔너리로 만드는 코드를 작성해주세요


names : 나이썬, 김자바, 김씨, 박씨샵  
grades :   B       B      A      C

In [39]:
names_grades = {'나이썬':'B', '김자바':'B', '김씨':'A', '박씨샵':'C'}
names_grades['김씨']

'A'

---

__[문제8]__

아래 ice 딕셔너리에 데이터를 추가 후 출력해주세요

ice = {"메로나": [300, 20],  
              "비비빅": [400, 3],  
              "죠스바": [250, 100]}  


추가해야하는 데이터) 이름 : 보석바, 가격:650, 재고:10

In [48]:
ice = {"메로나": [300, 20],
"비비빅": [400, 3],
"죠스바": [250, 100]}

ice.update({"보석바" : [650,10]})
ice

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '보석바': [650, 10]}

---

__[문제9]__

아래 딕셔너리에서 key만 list 형태로 출력해주세요

ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [63]:
ice = {'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

print(list(ice.keys())[0:])

['메로나', '폴로포', '빵빠레', '죠스바', '월드콘']